*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  font-family: sans-serif;
  /* 2026/9/17/バックのカラーをつけました */
  background-color: #afeeee;
}

.container{
  max-width: 1200px;
  margin: 0 auto; 
}

header{
  background-color: #fff;
  color: #333;
  padding: 20px 0;
  
}

header .container{
  display: flex;
  justify-content: space-between;
  align-items: center;
}

nav ul{
  display: flex;
  list-style: none;
  gap: 40px;
}

nav a{
  text-decoration: none;
  color: #333;
  font-weight: bold;
}

/* .はclassを指定する時に使う記号で、#はidを指定する時に使う記号。classは同じ名前を複数の要素に付けることができますが、idは1つのページで1つしか使えない。 */
.btn{
  display: inline-block;
  background: #fff4cc;
  color: #000;
  padding: 12px 24px;
  border-radius: 4px;
  text-decoration: none;
}

.hero{
  background-image: url(images/cage.png) ;
  background-size: 100% auto;
  background-repeat: no-repeat;
  background-position: center center;
  height: 700px;
  display: grid;
  place-items: center end;
  align-items: center;
  padding-right: 150px;
}

.hero-content{
  width: 35%;
  margin-bottom: 250px;
  /* ↑ここを変えたらズレが直った */
  padding-right: px;
}

#about .container{
  display: flex;
  flex-direction: column;
  /* ↑これを追加したら「about」のズレが直った */
  text-align: center;
  padding: 60px 20px;
}

#about h2{
  
  font-size: 34px;
  font-weight: bold;
  margin-bottom: 30px;
}

#about p{
  font-size: 25px;
  line-height: 50px;
}
/* 外枠のdivを作ったらCSS当たりました */
.container{
  display: flex;
  justify-content: center;
}

#message{
  margin-bottom: 30px;
}
/* ↓これを書いたら横並びになった */
#service{
  display: flex;
  justify-content: space-between;
  gap: 20px
}

#service .container {
  text-align: center;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  align-items: center;
  margin-top: 50px;
  margin-bottom: 100px;
}
/* /2026/9/17 */
/* ↓ここのコードのコメントアウトした部分は私が書いたコード */
/* コメントアウトしてない部分が園田さんから教えていただいたコード */
.answer{
  text-align: center;
  /* ↓/2026/9/17/
  色の名前からコードに変えました */
  background-color: #fff4cc;
  padding: 30px;
  border-radius: 10px;
  /* margin-top: 100px; */
  /* 2026/9/17/ 
  /* ↓これを追加したら点が文字の横に来た */
  /* list-style-position: inside; */
  max-width: 500px;
  margin: 100px auto 0;
  /* margin: 0 auto; */
  line-height: 2;
}
/* 2026/9/17/
/* ↓ulの箱のCSSを追加*/
.answer ul{
  display: inline-block;
  text-align: left;
  padding-left: 30px;
}


.faq{
  text-align: center;
  margin-top: 100px;
  margin-bottom: 100px;
  line-height: 2.5;
}

.voice{
  text-align: center;
  margin-top: 100px;
  margin-bottom: 100px;
  line-height: 2.5;
  background-color: #fff4cc;
  max-width: 800px;
  margin: 0 auto;
  padding: 20px 40px;
  margin-bottom: 100px;
}

.access{
  text-align: center;
  margin-top: 100px;
  margin-bottom: 100px;
  line-height: 2.5;
}

#footer{
  background-color: #5e5e5b;
  color: #ffffff;
  text-align: center;
}

